* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  
  footer {
    height: 44rem;
    color: #aaa;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .footer-grid {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    justify-self: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .footer-grid-item {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    font-size: 1.2rem;
  }
  
  .footer-grid-heading {
    font-size: 1.6rem;
    padding-bottom: 3rem;
    color: #ddd;
  }
  
  .grid-1-flex--box {
  }
  
  .address-text {
    line-height: 2rem;
  }
  
  .grid-1-flex--box strong {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .grid-1-flex--box .footer-link {
    padding-bottom: 0.7rem;
  }
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    color: #aaa;
    transition: all 0.3s ease;
    font-weight: 600;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #e62026;
    transform: scale(1.1);
  }
  
  .contact-phone-mail {
    display: flex;
    flex-direction: column;
  }
  
  .contact-phone-mail .footer-link {
    display: inline-block;
  }
  
  .footer-links-list-item {
    list-style: none;
    padding-bottom: 0.7rem;
  }
  
  .footer-input-box {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
    color: #e62026;
    height: 3rem;
    outline: none;
    box-shadow: none;
    padding: 4px;
  }
  
  .footer-form .footer-input-box {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .footer-newsletter-button {
    border: none;
    background-color: #e62026;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-newsletter-button:hover {
    transform: translateY(0.5rem);
  }
  
  .newsletter-text {
    line-height: 1.5rem;
  }
  
  /* ************************** */
  /* *****Sub-Footer*********** */
  /* ************************** */
  
  .sub-footer {
    border-top: 1px solid #9e9e9e;
    height: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    font-size: 1.2rem;
    width: 70%;
  }
  
  .footer-icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-left: 2rem;
  }
  
  .sub-footer--icon-link:link,
  .sub-footer--icon-link:visited {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .sub-footer--icon-link:hover,
  .sub-footer--icon-link:active {
    color: #e62026;
  }
  @media (max-width: 61em) {
    html {
      font-size: 60%;
    }
    .footer-grid {
      column-gap: 0;
    }
  }
  
  @media (max-width: 55em) {
    footer {
      height: 100rem;
    }
  
    .footer-grid-heading {
      padding-bottom: 0;
    }
  
    .footer-grid {
      grid-template-columns: 1fr;
      margin-left: 15rem;
      margin-right: auto;
    }
  }
  
  @media (max-width: 34em) {
    .footer-grid {
      margin-left: 6rem;
    }
  
    .sub-footer {
      justify-content: a;
      width: 90%;
    }
  
    .footer-icon {
      margin-left: 1rem;
    }
  }
  
  @media (max-width: 25em) {
    .footer-icon {
      margin-left: 0;
    }
  }
  